body {
  text-align: center;
  font-family: "Helvetica";
}

div {
  background-image: url("../the-flatiron-building.png");
  color: white
}
div.bottom_line {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

h1, h2, h3, .title{
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 , .title{
  font-size: 23px;
}

a {
  color: white;
  font-size: 18px;
}

.info {
  font-size: 14px;
}
